.main {
  display: grid;
  max-height: 100%;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 100%;
  overflow: hidden;
  grid-template-areas:
    'top'
    'middle'
    'bottom';
  justify-items: center;
  justify-content: center;
}

.scrollable {
  grid-area: 1 / 1 / -1 / -1; /* full */
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow-y: scroll;
  min-width: 100%;
}

.animateText {
  color: gold;
}
.overlay {
  min-width: 100%;
  z-index: 2;
}
.top {
  grid-area: top;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.bottom {
  grid-area: bottom;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.introQuote {
  grid-area: 1 / 1 / -1 / -1;
}

.main h1 {
  margin: 2rem;
}

.main .select {
  grid-area: 1 / 1 / 1 / 1;
  z-index: 3;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  height: fit-content;
}

.langSelect {
  margin: 4rem;
  z-index: 3;
}

.scrollTo {
  margin: 2rem;
  z-index: 3;
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
