.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 70px calc(100svh - 70px);
  grid-template-areas:
    'header'
    'children';
}

.grid-container {
}

@supports (height: 100cqh) {
  .grid-container {
    grid-template-rows: 70px calc(100cqh - 70px); /* If the device supports it, cqh excludes the Safari UI */
  }
}

.header {
  /* grid-area: 1 / 1 / 1 / 1; */
  grid-area: header;
}

.children {
  /* grid-area: 2 / 1 / 2 / 1; */
  grid-area: children;
}
