.primaryQuote h4,
.primaryQuote h2 {
  margin: 0rem;
}

.primaryQuote {
  padding: 2rem;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primaryQuote .title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.primaryQuote h4 {
  color: #6a6a6a;
}
.primaryQuote h2 {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .primaryQuote {
    padding: 2rem;
    max-width: 100vw;
  }
  .primaryImage {
    height: 200px;
  }
}
.primaryImage {
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
  position: relative;
  width: 100%;
  height: 300px;
}
.primaryImage:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: box-shadow 0.5s ease-in-out;
}

.nextImg {
  object-fit: contain;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.fallback {
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
  position: relative;
  display: grid;
  min-width: 100%;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  place-items: center;
  overflow: hidden;
}

.fallback .text {
  grid-area: 1 / 1 / 2 / 2;
  padding: 40px;
  font-size: 25px;
  color: #848484;
  display: flex;
  place-items: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.fallback .caption {
  grid-area: 1 / 1 / 2 / 2;
  place-self: end;
  padding: 8px;
  font-style: italic;
  opacity: 0.2;
  font-size: 12px;
  color: #848484;
}

.primaryQuote:first-child {
  margin-top: 10rem;
}
.primaryQuote:last-child {
  margin-bottom: 6rem;
}

.emphasize {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.soft {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}
